@import "variables.scss";

.logo {
  background: url(../images/artistre-logo-mark-type-blk.png) center center no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
  height: 170px;
  margin: 0 auto;
  position: relative;
  top: -320px;
  width: 500px;
  z-index: 99;
}
.logo-hero {
  background: url(../images/artistre-logo-mark-type-blk.png) center center no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
  height: 133px;
  margin: 50px auto 0;
  position: relative;
  width: 300px;
  z-index: 99;
}

@media screen and (min-width: $bp-small) {
  .logo {
    //height: 49px;
    top: -106px;
    width: 147px;
  }
}
@media screen and (min-width: $bp-small-1) {
  .logo {
    height: 100px;
    top: -88px;
    width: 200px;
  }
}
@media screen and (min-width: 320px) {
  .logo {
    top: -152px;
    width: 160px;
  }
}
@media screen and (min-width: 480px) {
  .logo {
    top: -74px;
    width: 170px;
  }
}
@media screen and (min-width: 540px) {
  .logo {
    height: 120px;
    top: -88px;
    width: 200px;
  }
}
@media screen and (min-width: $bp-med) {
  .logo {
    height: 130px;
    top: -440px;
    width: 388px;
  }
}
@media screen and (min-width: 600px) {
  .logo {
    top: -100px;
    width: 220px;
  }
}
@media screen and (min-width: 738px) {
  .logo {
    top: -140px;
    width: 320px;
  }
}
@media screen and (min-width: 820px) {
  .logo {
    top: -164px;
  }
}
@media screen and (min-width: 974px) {
  .logo {
    top: -214px;
  }
}
@media screen and (min-width: $bp-xl) {
  .logo {
    height: 148px;
    top: -260px;
    width: 450px;
  }
}
