@import "variables";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
body {
  padding: 0;
}
h1,h2,h4,h6 {
  font-family: 'Alex Brush', cursive !important;
}
h2, h3, h5 {
  font-family: 'Montserrat', sans-serif !important;
}
h1,h3 {
  font-weight: 700;
}
h2,h4 {
  font-weight: 400;
}
h1 {
  font-size: 60px !important;
  text-align: center;
}
h2 {
  border: 2px solid #444;
  font-size: 20px !important;
  margin: 40px 0 10px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
}
h3 {
  font-size: 18px;
  margin: 40px 0 0 !important;
}
img, object, video {
  max-width: 100%;
  border: 0;
}
a img {
  border: 0;
  outline: 0;
}
p, .row li {
  font-family: 'Montserrat', sans-serif;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style-type: none;
}
ul li ul li {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem !important;
  line-height: 1.8rem !important;
  margin: 0 0 10px !important;
}
ul.list{
  list-style: none;
  width: 500px;
  margin: 0 auto;
  text-align: left;
}
ul.list li{
  border-bottom: 1px solid #ddd;
  padding: 10px;
  overflow: hidden;
}
ul.list li img{
  width:120px;
  height:120px;
  float:left;
  border:none;
}
ul.list li p{
  margin-left: 135px;
  font-weight: bold;
  color:#6e7a7f;
}
.appointment {
  height: 1034px;
  width: 100%;
}
footer {
  a {
    color: lightgoldenrodyellow;
  }
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #444;
  border-top: 1px solid #e5e5e5;

}
footer p {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
  line-height: 1.2rem;
}
.container-narrow > hr {
  margin: 30px 0;
}
@media screen and (min-width: 320px) {
  .marketing {
    margin: 0;
  }
  footer p, footer ul li {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 1.1rem;
    line-height: 1.2rem;
  }
}
@media screen and (min-width: 480px) {
  footer p, footer ul li {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 1.2rem;
    line-height: 1.4rem;
  }
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 48px !important;
    text-align: center;
  }
  h2 {
    border: 1px solid #444;
    font-size: 18px !important;
    margin: 20px 0 5px;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
  }
  p, .row li {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    line-height: 2.3rem;
    margin: 0 0 20px;
  }
  .marketing {
    margin: 40px 0;
  }
  .container {
    max-width: 730px;
  }
  p, .row li {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    line-height: 2.3rem;
    margin: 0 0 20px;
  }
}

@media screen and (min-width: 880px) {
  p, .row li {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.83rem;
    line-height: 2.5rem;
    margin: 0 0 10px;
  }
  footer p, footer ul li {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 1.4rem;
    line-height: 1.6rem;
  }
}
.skin-care ul {
  margin: 20px 0 0;
}
section {overflow:hidden;}
.spot {float:left;margin:0 15px 15px 0;}
.spot p {font-weight:400;}
.footer {
  margin-bottom: 100px;
}
footer {
  position: fixed;
  background-color: #000;
  color: #fff;
  bottom: -1px;
  margin: 10px 0 0;
  padding: 10px 0 0;
  opacity: 0.9;
  width: 100%;
  text-align: center;
}
