<div class="row marketing">
  <p>All staff of Artistre Salon & Spa guarantees to provide the utmost services to our guests as they feel welcomed and relaxed in our at home boutique salon and spa. We are here to make sure that your time with us is time well spent as a valued member of the Artistre Salon & Spa family.</p>
  <p>At Artistre Salon & Spa, we offer high quality styling services to satisfy your individual needs. All of our stylists are licensed professionals who attend continuing education courses in the latest salon industry trends, to keep you modern and healthy.</p>
  <p>Our full service salon offers a variety of salon & spa services for men, women and children to make you look and feel your best.</p>
  <p>Prices vary based on service, styling treatment and staff level of expertise.</p>
</div>
