<div class="container" id="section-5">
  <div class="row">
    <div class="col-md-6">
      <h2 style="text-align: center;">Contact</h2>
      <ul>
        <li>1351 Route 38 Suite 2,<br />Hainesport, NJ 08036</li>
        <li>609 845 3161</li>
        <li><a href="mailto:info@artistre-salon.com">info@artistre-salon.com</a></li>
      </ul>
    </div>
    <div class="col-md-6">
      <h2>Location</h2>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3057.455929614727!2d-74.83831590000001!3d39.9759154!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c149c81bed7fdf%3A0xad61137444743856!2s1351+NJ-38+%232%2C+Hainesport%2C+NJ+08036!5e0!3m2!1sen!2sus!4v1437014380650" width="335" height="335" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
  <h2 style="text-align: center;">Hours</h2>
  <h3 style="text-align: center;">Tues - Fri: 9AM to 8PM</h3>
  <h3 style="text-align: center;">Sat: 9AM to 4PM</h3>
  <h3 style="text-align: center;">Sun - Mon: Closed</h3>
  <h2>Policy</h2>
  <p>To ensure the best quality of service is provided, we have the following policies in place:</p>
  <p>Appointments: We respectfully ask that all guests arrive at their scheduled service time. In fairness to all guests, we ask guests who are 15 minutes or more past their appointment time to reschedule.</p>
  <p>Cancellation Policy: We ask that clients provide a 24 hour cancellation notice.</p>
  <p>Payment: We accept Cash, Visa, MasterCard, Discover, Amex and SpaFinder. Gratuities are not included in the price of services and can not be added to credit cards.</p>
  <p>Guarantee Policy: Your satisfaction is very important to us, and we guarantee our work 100%. If you are not feeling completely satisfied, please call within one week of your service so we may correct your service.</p>
  <p>Prices are subject to change without notice.</p>
</div>
