<div class="container" id="section-5">
  <div class="row">
    <div class="col-md-6">
      <h2 style="text-align: center;">Contact</h2>
      <ul>
        <li>1351 Route 38 Suite 2,<br />Hainesport, NJ 08036</li>
        <li>609 845 3161</li>
        <li><a href="mailto:info@artistre-salon.com">info@artistre-salon.com</a></li>
      </ul>
    </div>
    <div class="col-md-6">
      <h2>Location</h2>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3057.455929614727!2d-74.83831590000001!3d39.9759154!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c149c81bed7fdf%3A0xad61137444743856!2s1351+NJ-38+%232%2C+Hainesport%2C+NJ+08036!5e0!3m2!1sen!2sus!4v1437014380650" width="335" height="335" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
  <h2 style="text-align: center;">Hours</h2>
  <h3 style="text-align: center;">Tues - Fri: 9AM to 8PM</h3>
  <h3 style="text-align: center;">Sat: 9AM to 4PM</h3>
  <h3 style="text-align: center;">Sun - Mon: Closed</h3>
  <h2>Policy</h2>
  <p>To ensure the best quality of service is provided, we have the following policies in place:</p>
  <p>Appointments: We respectfully ask that all guests arrive at their scheduled service time. In fairness to all guests, we ask guests who are 15 minutes or more past their appointment time to reschedule.</p>
  <p>Cancellation Policy: We ask that clients provide a 24 hour cancellation notice.</p>
  <p>Payment: We accept Cash, Visa, MasterCard, Discover, Amex and SpaFinder. Gratuities are not included in the price of services and can not be added to credit cards.</p>
  <p>Guarantee Policy: Your satisfaction is very important to us, and we guarantee our work 100%. If you are not feeling completely satisfied, please call within one week of your service so we may correct your service.</p>
  <p>Prices are subject to change without notice.</p>
</div>
<div class="container">
  <h1><a
    href="https://www.demandforced3.com/b/etile_reviews_popup.jsp?d3cp_exid=artistre-salon&d3cp_source=artistre-salon.com" target="_blank">Read our reviews</a></h1>
</div>
<div class="container">
  <div class="col-md-2"></div>
  <div class="col-md-8" style="margin-bottom: 100px">
    <!-- Begin MailChimp Signup Form -->
    <link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
    <style type="text/css">
      #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
      /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
				 We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
    </style>
    <div id="mc_embed_signup">
      <form action="//artistre-salon.us11.list-manage.com/subscribe/post?u=8782d377d4a9c68cbaec98bf6&amp;id=97787fc066" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
          <h2>Subscribe to our mailing list</h2>
          <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
          <div class="mc-field-group">
            <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
            </label>
            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
          </div>
          <div class="mc-field-group">
            <label for="mce-MMERGE1">First Name </label>
            <input type="text" value="" name="MMERGE1" class="" id="mce-MMERGE1">
          </div>
          <div class="mc-field-group">
            <label for="mce-MMERGE2">Last Name </label>
            <input type="text" value="" name="MMERGE2" class="" id="mce-MMERGE2">
          </div>
          <div class="mc-field-group size1of2">
            <label for="mce-MMERGE3">Phone Number </label>
            <input type="number" name="MMERGE3" class="" value="" id="mce-MMERGE3">
          </div>
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;"><input type="text" name="b_8782d377d4a9c68cbaec98bf6_97787fc066" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </div>
      </form>
    </div>
    <!--<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='MMERGE1';ftypes[1]='text';fnames[2]='MMERGE2';ftypes[2]='text';fnames[3]='MMERGE3';ftypes[3]='number';}(jQuery));var $mcj = jQuery.noConflict(true);</script>-->
    <!--End mc_embed_signup-->
  </div>
  <div class="col-md-2"></div>
</div>
