<div class="container" id="section-2">
  <h1>Artistre Hair Services</h1>
  <p>Our staff will create a customized look for you using advanced skill, techniques and exclusive professional products only found in the finest salons. Please review our list of hair services below or our entire menu via the button above. Should you have any questions regarding our services, please don’t hesitate to give us a call at 609-845-3161. ~ The Staff at Artistre Salon &amp; Spa</p>
  <div class="row">
    <div class="col-md-6">
      <h2>Ladies Customized Haircuts & Styles</h2>
      <ul>
        <li><h3>Hair Cut & Style: $47+</h3></li>
        <li><h3>Wash, Blow Dry & Style: $37+</h3></li>
        <li><h3>Back Bar Remedy: $15</h3></li>
        <li><h3>Young Ladies Haircut 12 years & under: $30+</h3></li>
        <li><h3>Formal Up Style: $65+</h3></li>
        <li><h3>Human Hair Extensions: Price Upon Consultation</h3></li>
      </ul>
    </div>
    <div class="col-md-6">
      <h2>Gentlemen Grooming</h2>
      <ul>
        <li><h3>Refined Haircut: $27+</h3></li>
        <li><h3>Young Mens Haircut 12 years & under: $15+</h3></li>
        <li><h3>Mens Color Blending: $25</h3></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>Customized Coloring & Resurfacing</h2>
      <p>We offer only the highest quality hair color available in our industry. Every color is chosen for each specific client based on hair texture, condition and skin tone. Whether your look is natural or edgy, our highly trained stylists will customize your color to make you feel your best!</p>
    </div>
    <div class="col-md-6">
      <ul>
        <li><h3>Initial One Step Color: $55+</h3></li>
        <li><h3>One Step Regrowth Color: $52+</h3></li>
        <li>
          <h3>Partial Foiling: $80+</h3>
          <ul>
            <li>(Front Hair Line to Crown and Sides)</li>
          </ul>
        </li>
        <li><h3>Partial Dimensional Foiling: $95+</h3>
          <ul>
            <li>(when applying additional color shade to Partial Foiling)</li>
          </ul>
        </li>
        <li><h3>Complete Foil: $115+</h3>
          <ul>
            <li>(Entire Head with Foiling)</li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <ul>
        <li>
          <h3>Complete Dimensional Foil: $125+</h3>
          <ul>
            <li>(when applying additional color shade to Complete Foiling)</li>
          </ul>
        </li>
        <li><h3>Toners, Glazes & Fillers: $20+</h3></li>
        <li>
          <h3>Olaplex: $20+</h3>
          <ul>
            <li>Corrective Coloring: Price Upon Consultation</li>
          </ul>
        </li>
        <li><h3>Perms & Body Waves: $75+</h3></li>
        <li><h3>Balayage: $150+</h3></li>
      </ul>
    </div>
    <div class="col-md-12">
      <ul>
        <li style="text-align: center;"><h3>Keratin Smoothing Treatment: $200+</h3></li>
      </ul>
    </div>

  </div>
</div>
