<div ng-controller="CarouselCtrl">
  <carousel interval="myInterval">
    <slide ng-repeat="slide in slides" active="slide.active" class="item">
      <img ng-src="{{slide.image}}" style="margin:auto;">
    </slide>
  </carousel>
</div>
<div class="container">
  <div class="row marketing">
    <p>All staff of Artistre Salon & Spa guarantees to provide the utmost services to our guests as they feel welcomed and relaxed in our at home boutique salon and spa. We are here to make sure that your time with us is time well spent as a valued member of the Artistre Salon & Spa family.</p>
    <p>At Artistre Salon & Spa, we offer high quality styling services to satisfy your individual needs. All of our stylists are licensed professionals who attend continuing education courses in the latest salon industry trends, to keep you modern and healthy.</p>
    <p>Our full service salon offers a variety of salon & spa services for men, women and children to make you look and feel your best.</p>
    <p>Prices vary based on service, styling treatment and staff level of expertise.</p>
  </div>
</div>
<div class="container">
  <h1>Artistre Hair Services</h1>
  <!--
  Artistre Hair Services

Our staff will create a customized look for you using advanced skill, techniques and exclusive professional products only found in the finest salons. Please review our list of hair services below or our entire menu via the button above. Should you have any questions regarding our services, please don’t hesitate to give us a call at 609-845-3161. ~ The Staff at Artistre Salon & Spa


Ladies Customized Haircuts & Styles

Hair Cut & Style: $47+
Wash, Blow Dry & Style: $37+
Back Bar Remedy: $15
Young Ladies Haircut 12 years & under: $30+
Formal Up Style: $65+
Human Hair Extensions: Price Upon Consultation

Gentlemen Grooming

Refined Haircut: $27+
Young Mens Haircut 12 years & under: $15+
Mens Color Blending: $25

Customized Coloring & Resurfacing

We offer only the highest quality hair color available in our industry. Every color is chosen for each specific client based on hair texture, condition and skin tone. Whether your look is natural or edgy, our highly trained stylists will customize your color to make you feel your best!

Initial One Step Color: $55+
One Step Regrowth Color: $52+
Partial Foiling (Front Hair Line to Crown and Sides): $80+
Partial Dimensional Foiling (when applying additional color shade to Partial Foiling): $95+
Complete Foil (Entire Head with Foiling): $115+
Complete Dimensional Foil (when applying additional color shade to Complete Foiling): $125+
Toners, Glazes & Fillers: $20+
Olaplex: $20+
Corrective Coloring: Price Upon Consultation
Perms & Body Waves: $75+
Balayage: $150+
Keratin Smoothing Treatment: $200+

–>
  -->
</div>
<div class="container">
  <h1>Spa Services</h1>
  <!--
  Artistre Spa Services

Our staff will create a comfortable environment so you can take time for yourself and relax. Please review our list of spa services below or glance at our entire menu via the button above. Should you have any questions regarding any of our services, please don’t hesitate to give us a call at 609-845-3161.
~ The Staff at Artistre Salon & Spa

Massage Therapy:

Swedish Massage:

Relaxing light pressured and oil free massage. This massage is perfect for someone who is just starting their new experience with massages.
50 Minutes: $55+tax
90 Minutes: $95+tax

Aromatherapy Massage:

Indulge in this soothing massage with essential oils, a heated pack and hot towels.
50 Minutes: $65+tax
90 Minutes: $105+tax

Therapeutic Massage:

This massage will target those problem areas using deep pressure, trigger pointing & stretching to relieve stress & tension.
50 Minutes: $75+tax
90 Minutes: $115+tax

Masterpiece Massage:

Your choice of Honey Polish or Lava calming the hands and feet, aromatherapy oils and hot towels to make this 75 minute massage pure relaxation.
75 Minutes: $85+tax

Reflexology Massage:

This massage will relax and balance your internal and external body systems while improving your circulation to your nervous and energy systems.
50 Minutes: $50+tax

Prenatal Massage:

A massage is both beneficial for mom and baby as relaxing light pressured is applied to relax tense muscles and improve circulation. We ask that all mom’s are in their second trimester for this massage.
50 Minutes: $60+tax

Your Choice Massage:

Choose 30 minutes of pure relaxation from any one of the listed massages: Aromatherapy, Therapeutic, Swedish, Reflexology or Prenatal.
30 Minutes: $40+tax

Scalp Massage Therapy:

A true 25 minute relaxing experience that is beneficial in providing relief from headaches, migraines and sinus conditions while using organic olive oil and rosemary oil.
With Shampoo: $30+tax
With Shampoo and Blowout: $55+tax

Masterpiece Special:

This grand special will provide ultimate relaxation and uplift the spirit. Included is the 75 Minute Masterpiece Facial & Massage, a 45 Minute Artistre Spa Manicure and your hair washed and blown out to your style.
$225+tax

15 Minute Seated Neck Massage:

$20+tax

Every Minute Counts: $10+tax

Extend any 50 Minute Massage to 60 minutes!

Organic Scrubs & Honey Skin Polish: $15+tax

Add an organic scrub or honey skin polish to any 50 Minute Massage.










Skin Care:

Refreshing Facial: $55

This 50 minute facial focuses on the immediate needs of your skin. We will customize your facial specifically for your skin needs by including exfoliation, hydration, steaming, toning and a facial massage. Our refreshing facial will leave your skin feeling balanced and supple.

Masterpiece Facial: $90

This is one facial you will not forget. Our 75 minute signature facial begins with a thorough skin analysis followed by a deep pore cleansing, exfoliation, steam, extractions and an Organic Mineral Mask. Accompanied by a warm honey polish for the hands and a shoulder and neck massage.

Hydrating Facial: $60

Is your skin feeling dull or dry? Or even both?…If so, this is the facial for you! This super 60 minute hydrating facial will saturate your skin with moisture to help diminish fine lines as well as leaving your skin with a plump dewy complexion.

Artistre Signature Facial: $65

A very pleasing 50 minute facial, blending both the Refreshing Facial and the Hydrating Facial to receive Artistre’s Signature results!

Dual Artistre Special: $105

This facial goes one step further by providing ultimate benefits! While receiving an Artistre Signature Facial our massage therapist will perform reflexology to your hands and feet.

Enhancements:

Gycolic Peel: $20
Collagen Eye Treatment: $10
Cucumber Treatment: $10
Vitamin C Treatment: $15
Aromatherapy Treatment: $10
Eyebrow or Eyelash Tint: $20





Waxing:

Eyebrows: $14
Lip: $10
Chin: $10
Eyebrow & Lip: $22
Neck: $15
Face: $30
Full Arm: $35
Half Arm: $25
Underarm: $20

Full Leg: $55
Half Leg: $40
Full Legs & Arms: $85
Bikini: $25
Brazilian: $55
Brazilian Maintenance: $45
French: $45
Chest or Back: $40





Manicures (Natural Nail):

Manicure: $22
Gel Polish Manicure: $27
Artistre Spa Manicure: $35

Add Paraffin: $10
Add Honey Polish: $10
Add Organic Scrub: $10
  -->
</div>
<div class="container">
  <h1>Make an Appointment</h1>
</div>
<div class="container">
  <h1>Contact</h1>
  <h2>Location</h2>
  <h2>Hours</h2>
  <h3>Policy</h3>
  <p>To ensure the best quality of service is provided, we have the following policies in place:</p>
  <p>Appointments: We respectfully ask that all guests arrive at their scheduled service time. In fairness to all guests, we ask guests who are 15 minutes or more past their appointment time to reschedule.</p>
  <p>Cancellation Policy: We ask that clients provide a 24 hour cancellation notice.</p>
  <p>Payment: We accept Cash, Visa, MasterCard, Discover, Amex and SpaFinder. Gratuities are not included in the price of services and can not be added to credit cards.</p>
  <p>Guarantee Policy: Your satisfaction is very important to us, and we guarantee our work 100%. If you are not feeling completely satisfied, please call within one week of your service so we may correct your service.</p>
  <p>Prices are subject to change without notice.</p>
</div>
<!--Instagram
Twitter
Facebook-->
